/* popup */
.css-sjj62m {
  background-color: transparent !important;
  border-style: none !important;
}
/* expanded menu */
.css-1kfu8nn {
  height: fit-content !important;
  width: fit-content !important;
}
.chakra-popover__arrow {
  background-color: #008000 !important;
}
.css-ez23ye {
  background-color: white !important;
}
